/** ***************
 ** Global style **
 ******************/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 html {
    font-family: 'Anton', sans-serif;
    background-color: #FAFAF0; 
}


h1 {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 60px; 
  text-align: center;
  padding: 5px 0px;
  margin: 0;
  color: #0CE8A3;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px; 
  text-align: center;
  padding: 15px;
  margin: 0;
  color: #0CE8A3;
}


h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  text-align: center;
  padding: 20px;
  margin: 0;
  color: #008C50;
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px; 
  text-align: left;
  padding: 20px;
  margin: 0;
}


h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  background-color: #0CE8A3;
}


h6 {
  font-size: 20px;
  padding: 25px;
  margin: 0;
  border: 3px solid #0CE8A3; /** Boarder help from https://www.w3schools.com/cssref/css_pr_border-block-end-color.php **/
  border-radius: 35px;
  background-color: #0CE8A3;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 5%;
    color: #003804;
}



  
 /** **************
 ** Header block **
 ******************/

.border1 {
  border: 8px solid #0CE8A3;
  border-style:ridge;
}


.border2 {
  border: 5px solid #0CE8A3;
  border-style:ridge;

}
 /** ******************
 ** Navigation block **
 *********************/

 ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0CE8A3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #003804;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to greenyellow on hover */
li a:hover {
  background-color: #00602A;
  color :#0CE8A3;
}
 /** *******************
 ** MAIN Content block **
 ***********************/

.container1{
  max-width: 60rem; /** This code stops the text from being to wide and dificult to read (From kevin powell)**/
  margin-left: auto;
  margin-right: auto;
}

.container2{
  max-width: 60rem; /** This code stops the text from being to wide and dificult to read (From kevin powell)**/
  margin-left: auto;
  margin-right: auto;

}

/* Link colors */
a:link {
  color: #003804;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #003804;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #0CE8A3;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}




/* collums help from https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.image2 {
    border: 3px solid #0CE8A3;
    border-radius: 4px;
    padding: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.image1  {
    padding-right: 600px;
    float: right;
    width: 250px;
    height: 300px;

  }

  .container {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.image {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.container:hover .image {
    opacity: 0.3;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #0CE8A3;
    color: black;
    padding: 16px 32px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 /** ***************
 ** 404 Page **
 ******************/
.tenor-gif-embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 /** ***************
 ** Footer Block **
 ******************/


.footer1{
  color: #0CE8A3;
  text-align: center;
}