/** ***************
 ** Global style **
 ******************/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 html {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 60px; 
    text-align: center;
    padding: 0;
    margin: 0;
    color: #ff0000; 
  }
 /** **************
 ** Header block **
 ******************/


 /** ******************
 ** Navigation block **
 *********************/


 /** ********************
 ** MAIN Content block **
 ***********************/

 /** ***************
 ** Footer Block **
 ******************/
