/** ***************
 ** Global style **
 ******************/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 html {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px; 
    text-align: center;
    padding: 25px;
    margin: 0;
    border: 3px solid blue; /** Boarder help from https://www.w3schools.com/cssref/css_pr_border-block-end-color.php **/
    border-radius: 25px;
    background-color: antiquewhite;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 5%;
    color: black;
}


  
 /** **************
 ** Header block **
 ******************/


 /** ******************
 ** Navigation block **
 *********************/


 /** ********************
 ** MAIN Content block **
 ***********************/

/* collums help from https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 /** ***************
 ** Footer Block **
 ******************/
