{% extends 'layout.html' %}
{% block content%}
<h2> 404 Error</h2>
<h2> Page Not found</h2>
<!-- gif from https://tenor.com/en-GB/view/golfing-deadstream-fail-whoops-ouch-gif-16669955 Code coppied from embed sectomn -->
<div class="tenor-gif-embed" data-postid="16669955" data-share-method="host" data-aspect-ratio="1" data-width="500px" data-height="500px"><a href="https://tenor.com/view/golfing-deadstream-fail-whoops-ouch-gif-16669955">404 Error</a>from <a href="https://tenor.com/search/golfing-gifs" >Golfing GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock%}