{% extends "layout.html" %}
{% block content%}
<h1 > About Page </h1>
<h2> About this website</h2>
<h4> This website is a website designed for users to view, reveiw and post golf courses around Christchurch. </h4>
<hr> 
<h2> Standards for this website</h2>
<h3> Programming </h3>
<!-- Open link in new tab (target="_blank") Help from https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/-->
<h4> <a href="https://www.nzqa.govt.nz/nqfdocs/ncea-resource/achievements/2019/as91896.pdf" target="_blank">AS91896 </a></h4>
<hr>
<h3> Database</h3>
<h4><a href="https://www.nzqa.govt.nz/nqfdocs/ncea-resource/achievements/2019/as91892.pdf" target="_blank"> AS91892</a></h4>
<hr>
<h3> Media</h3>
<h4><a href="https://www.nzqa.govt.nz/nqfdocs/ncea-resource/achievements/2019/as91893.pdf" target="_blank"> AS91893</a></h4>
{% endblock %}