{% extends 'layout.html' %}
{% block content %}
{% for item in results %}
<!-- Putting the information into rows, Outline coppied from https://www.w3schools.com/howto/howto_css_three_columns.asp -->
<div style="background-color: greenyellow" >
  <div class="row">
    <div class="column" style="background-color:greenyellow;">
      <h2><a href="/golf/{{item[0]}}">{{item[1]}}</a></h2>
      <p><a href="/golf/{{item[0]}}"><img src="{{ item[8] }}" class="image2" style="float:none;"  width="400" height="340" /></a></p>
    </div>
    <div class="column" style="background-color: greenyellow;">
      <br>
      <h6>Address: {{item[2]}}</h6>
      <br>
      <h6>{{item[3]}}</h6>
    </div>
  </div>
  <hr color="green">
</div>
{% endfor %}
{% endblock%}