{% extends "layout.html" %}
{% block content%}
<h1 style = "color: greenyellow"> Contact Page </h1>
<h2> This is the contact page</h2>

<p>
    <!-- Simple form handling - NEVER use this with passwords or other sensitive data -->
    <form>
      <p> Username: <input type="text" name="username" value="type something here" size="40" /></p> <!-- note how value pre-populates the form, and you need to delete it to add your own value - this might not ever be useful unless you want a default value for lazy site users -->
      <p> Password: <input type="password" name="password" placeholder="correcthorsebatterystaple"/></p> <!-- note here that placeholder gives hint text, and it disappears when you start typing.  This can be very helpful to users -->
      <input type="submit" /> <!-- this forces the page to reload with the entered values added as attributes - in flask we can get those values with request.args - see the 'about' route in main.py -->
    </form>
  </p>
{% endblock %}