<!-- courses.html -->
{% extends "layout.html" %}
{% block content%}


{% for item in results %}

{% endfor %}

    <h1>Add a New Course</h1>
    <form action="{{ add_course_route }}" method="POST"> <!-- Form for adding new course -->
        <label for="name">Name:</label>  <!-- Label for name input-->
        <input type="text" name="name" id="name" required><br> <!-- Input for user to put name, and is required-->

        <label for="location">Location:</label> <!-- Label for location input-->
        <input type="text" name="location" id="location" required><br> <!-- Input for user to put location and is required-->

        <label for="description">description:</label> <!-- Labal for description input-->
        <input type="text" name="description" id="description" required><br> <!-- Input for user to put description and is required-->

        <label for="par">par:</label> <!-- Label for par input-->
        <input type="text" name="par" id="par" required><br> <!-- Input for user to put par and is required-->

        <label for="yardage">yardage:</label> <!-- Label for yardage input-->
        <input type="text" name="yardage" id="yardage" required><br><!-- Input for user to put yardage and is required-->

        <label for="rating"> course rating:</label> <!-- Label for rating input-->
        <input type="text" name="rating" id="rating" required><br><!-- Input for user to put course rating  and is required-->

        <label for="slope">slope:</label><!-- Label for slope input-->
        <input type="text" name="slope" id="slope" required><br> <!-- Input for user to put location and is required-->

        <input type="submit" value="Add Course"> <!-- Submit button to send form to the database-->
    </form>
{% endblock %}
