{% extends 'layout.html' %}
{% block content%}
<h1>About {{ golf[1] }}</h1> <!-- Taking the Course name from database and displaying it-->
<h2>Address</h2>
<h4>{{ golf[2] }}</h4> <!-- Getting the adress of the course from the database and displaying it-->
<h2>Description</h2>
<h4>{{ golf[3] }}</h4> <!-- Getting descriopion of course from database-->
<h2>Course Par</h2>
<h4>This has a par of {{ golf[4] }}</h4> <!-- Getting par of course from databse and displaying it with template text-->
<h2>Yardage</h2>
<h4>This course has a total distance of {{ golf[5] }} yards</h4> <!-- Getting distance of course and displaying it with template text-->
<h2>Course Rating</h2>
<h4>This has a rating of {{ golf[5] }}</h4> <!-- Getting course rating and displaying with template text-->
<h2>Course Slope</h2>
<h4>This has a slope of {{ golf[6] }}</h4> <!-- Getting slope of course and displaing with template text-->

<img src='{{ golf[8] }}' class="image2" height="720" width="1060"/> <!-- Getting image from database and displaying it on the course page-->
<h1>Reviews</h2>
{% for review in reviews %}
    <ol style="border: 7px solid greenyellow; border-radius: 5px;"> <!-- Giving boarder to each indavidual review to show the difference between reveiws -->

        <h3>Review writen by {{ review[2]}}</h3> <!-- Getting the name of review user from datbase and displaying it -->
        <h4>{{ review[2]}} has given this course a rating of {{ review[3] }}/10</h4> <!-- Getting name of user and telling the rating which they gave it with template text-->
        <h3> Comment:</h3>
        <h4>{{ review[4] }}</h4> <!-- Getting comment from database and displaing it-->
    </ol>
{% endfor %}
{% if reviews %}
    <h2></h2>
{% else %} <!-- If no reviews yet these actions will go instead of above-->
    <ol style="border: 7px solid greenyellow; border-radius: 5px;"> <!-- Boarder for text-->
    <h4>No reviews available for this course.</h4>  
    <h4><a href = "/reviews"> Click here to submit review | Use course number {{golf[0]}}</a></h4> <!-- Text with link to reviews page so user can submit their own review when no review is present.-->
    </ol>
{% endif %}
{% endblock %}
