{% extends 'layout.html' %}
{% block content%}

<h1> About {{golf [1]}} </h1> 
<h2> Address</h2>
<p> {{golf [2]}} </p>
<h2> Description</h2>
<p> {{golf [3]}} </p>
<h2> Course Par</h2>
<p> This has a par of {{golf [4]}}</p> 
<h2> Yardage</h2>
<p> This course has a total distance of {{golf [5]}} yards</p> 
<img src = '{{golf[3]}}' /> 


<h2>add review</h2>
<form action="{{ add_review_route }}" method="POST">
    <label for="Username">username:</label>
    <input type="text" name="username" id="username" required><br>

    <label for="rating">rating:</label>
    <input type="text" name="rating" id="rating" required><br>

    <label for="comment">comment:</label>
    <input type="text" name="comment" id="comment" required><br>

    <input type="submit" value="Submit review">
</form>

<h1> Course reviews</h1>
<p> {{review [2]}} </p>
{% endblock %}