{% extends 'layout.html' %}
{% block content %}
<h1><centre> Welcome to the world of golf</centre></h1>
<br>
<!-- Fade in box help from https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_opacity-->
<div class="container">
    <img src="/static/images/homepage.jpg" alt="Avatar" class="image" width="450" height="300" style="width:100%" >
    <div class="middle">
      <div class="text">“I’m trying as hard as I can, and sometimes things don’t go your way, and that’s the way things go.” - Tiger Woods</div>
    </div>
  </div>
  <br>
<h5> Welcome to our golf course website! Here, you can explore comprehensive details about all the golf courses located in the picturesque city of Christchurch. Whether you are an avid golfer or someone looking to experience the best golfing destinations in the region, our platform provides an extensive collection of golf courses, each accompanied by valuable information. Discover course descriptions, facilities, locations, and user reviews to help you make informed decisions on where to tee off next.</h5>
<br>
<!-- Fade in box help from https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_opacity-->
<div class="container">
    <img src="/static/images/sunsetgolf.jpg" alt="Avatar" class="image" style="width:100%" >
    <div class="middle">
      <div class="text">“No matter how good you get you can always get better and that’s the exciting part." - Tiger Woods</div>
    </div>
  </div>
  <br>
<h5>Moreover, our interactive "Add Courses" page allows golf course owners and administrators to effortlessly include new courses on the website. With a user-friendly interface, it's easy to input course details, ensuring that our website remains up-to-date with the latest additions to the golfing landscape.</h5>
<br>
<!-- Fade in box help from https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_opacity-->
<div class="container">
    <img src="/static/images/sunset.jpg" alt="Avatar" class="image" style="width:100%" >
    <div class="middle">
      <div class="text">“Stay true to yourself and listen to your inner voice. It will lead you to your dream.” -James Ross</div>
    </div>
  </div>
  <br>
<h5>Join us on this golfing journey, where you'll find a wealth of knowledge about Christchurch's finest golf courses and have the opportunity to contribute to the golfing community by adding new courses to our ever-growing collection. Whether you're planning your next golfing adventure or sharing the beauty of your own course, we've got you covered!</h5>

{% endblock %}