<!DOCTYPE html>
<html>
    <head>
        <title> {{title}}</title>
        <link rel="icon" type="image/x-icon" href="/static/images/maingolf.jpg"> <!-- This is the image in the tab bar. Help from https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website -->
        <link rel="stylesheet" href = "/static/css/style.css"> <!-- Link to style sheet for CSS (Styling of the website)-->
    </head>
    <body>
        
        <header>
            {% include 'header.html' %}
        </header>
        <nav>
            {% include 'nav.html' %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>