<!-- reviews.html -->
{% extends "layout.html" %}
{% block content%}
    <h1>List of Golf Courses</h1>
    <h2> </h2>
<img src="/static/images/courselist.png" class="image1"/> 
    <div class="add-review">
        <h2>Add Your Own Review</h2>
        <form action="/submit_review" method="POST">
            <label for="course_id">Course Number**</label>
            <input type="number" id="course_id" name="course_id" required min="2" max="21"><br><br>

            <label for="username">username:</label>
            <input type="text" name="username" id="username" required><br>
            
            <label for="rating">Rating (1-10):</label>
            <input type="number" id="rating" name="rating" required min="1" max="10"><br><br>

            <label for="review">Review:</label>
            <textarea id="review" name="review" required></textarea><br><br>

            <input type="submit" value="Submit Review">
        </form>
    </div>


{% endblock %}