<!DOCTYPE html>
<html>
<head>
    <title>Submit Review</title>
</head>
<body>
    <h1>Submit Review</h1>
    <form action="/course/{{ course_id }}/reviews" method="POST">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" required min="1" max="5"><br><br>
        
        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment" required></textarea><br><br>
        
        <input type="submit" value="Submit Review">
    </form>
</body>
</html>
